# ----------------------
# Backend (Spring Boot / Java)
# ----------------------
/Backend/target/
**/bin/
/Backend/*.iml
/.idea/
/Backend/.classpath
/.project
/.settings/
/Backend/.mvn/wrapper/maven-wrapper.jar

# Maven logs
/logs/
**/mvnw.cmd
**/mvnw

# Eclipse / IntelliJ
*.class
*.jar
*.war
*.ear

# ----------------------
# Frontend (Next.js / Node.js)
# ----------------------
/Frontend/node_modules/
/Frontend/.next/
/Frontend/out/
/Frontend/.env.local
/Frontend/.env.development.local
/Frontend/.env.test.local
/Frontend/.env.production.local
/Frontend/npm-debug.log*
/Frontend/yarn-debug.log*
/Frontend/yarn-error.log*